body {
  font-family: "Poppins", sans-serif;
  display: grid;
  place-content: center;
  width: 100%;
}
span {
  color: red;
}
h1 {
  color: aliceblue;
}
.container {
  font-family: "Poppins", sans-serif;
  display: grid;
  justify-items: center;
  place-content: center;
  background: rgba(204, 18, 55, 0.856);
  /* width: 100%; */
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 15px;
}
form {
  background: rgba(255, 255, 255, 0.808);
  padding: 10px 50px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.button {
  font-family: "Poppins", sans-serif;
  margin: 20px;
  padding: 5px;
  background: rgb(255, 86, 120);
  color: aliceblue;
  width: 100%;
  border: 0px;
  border-radius: 10px;
  border-bottom: 2px solid crimson;
  border-left: 2px solid crimson;
}
form label{
      margin: 10px;
}
form input{
      width: 250px;
      margin-left: 10px;
      padding: 5px;
}
.add{
      display: flex;
}
table th{
      border: 2px solid black;
      padding: 10px;
      height: 50px;
}
table{
      border-collapse: collapse;
      width: 100%;
}